## Exercise 1

In [1]:
#Create a list containing tuples of x and y coordinates of all the points of a
#regular grid for x belongs [0,10] and y belongs [0,10] 
list = [(x,y)for x in range(11) for y in range(11)]
list,len(list)

([(0, 0),
  (0, 1),
  (0, 2),
  (0, 3),
  (0, 4),
  (0, 5),
  (0, 6),
  (0, 7),
  (0, 8),
  (0, 9),
  (0, 10),
  (1, 0),
  (1, 1),
  (1, 2),
  (1, 3),
  (1, 4),
  (1, 5),
  (1, 6),
  (1, 7),
  (1, 8),
  (1, 9),
  (1, 10),
  (2, 0),
  (2, 1),
  (2, 2),
  (2, 3),
  (2, 4),
  (2, 5),
  (2, 6),
  (2, 7),
  (2, 8),
  (2, 9),
  (2, 10),
  (3, 0),
  (3, 1),
  (3, 2),
  (3, 3),
  (3, 4),
  (3, 5),
  (3, 6),
  (3, 7),
  (3, 8),
  (3, 9),
  (3, 10),
  (4, 0),
  (4, 1),
  (4, 2),
  (4, 3),
  (4, 4),
  (4, 5),
  (4, 6),
  (4, 7),
  (4, 8),
  (4, 9),
  (4, 10),
  (5, 0),
  (5, 1),
  (5, 2),
  (5, 3),
  (5, 4),
  (5, 5),
  (5, 6),
  (5, 7),
  (5, 8),
  (5, 9),
  (5, 10),
  (6, 0),
  (6, 1),
  (6, 2),
  (6, 3),
  (6, 4),
  (6, 5),
  (6, 6),
  (6, 7),
  (6, 8),
  (6, 9),
  (6, 10),
  (7, 0),
  (7, 1),
  (7, 2),
  (7, 3),
  (7, 4),
  (7, 5),
  (7, 6),
  (7, 7),
  (7, 8),
  (7, 9),
  (7, 10),
  (8, 0),
  (8, 1),
  (8, 2),
  (8, 3),
  (8, 4),
  (8, 5),
  (8, 6),
  (8, 7),
  (8, 8),
  (8, 9),
  (8, 10),
  (9, 0),
  (9, 1),
  (9, 2),
  (9, 3),
  (9, 4),
  (9, 5),
  (9, 6),
  (9, 7),
  (9, 8),
  (9, 9),
  (9, 10),
  (10, 0),
  (10, 1),
  (10, 2),
  (10, 3),
  (10, 4),
  (10, 5),
  (10, 6),
  (10, 7),
  (10, 8),
  (10, 9),
  (10, 10)],
 121)

In [2]:
#Count the number of points where y>x

z=[(x,y)for x in range(11) for y in range(11) if y>x]
len(z)

55

In [3]:
#Count the number of points x or y is prome

primes = [2,3,5,7]
prime_list = [(x,y) for x,y in list if x in primes or y in primes]
prime_list,len(prime_list)

([(0, 2),
  (0, 3),
  (0, 5),
  (0, 7),
  (1, 2),
  (1, 3),
  (1, 5),
  (1, 7),
  (2, 0),
  (2, 1),
  (2, 2),
  (2, 3),
  (2, 4),
  (2, 5),
  (2, 6),
  (2, 7),
  (2, 8),
  (2, 9),
  (2, 10),
  (3, 0),
  (3, 1),
  (3, 2),
  (3, 3),
  (3, 4),
  (3, 5),
  (3, 6),
  (3, 7),
  (3, 8),
  (3, 9),
  (3, 10),
  (4, 2),
  (4, 3),
  (4, 5),
  (4, 7),
  (5, 0),
  (5, 1),
  (5, 2),
  (5, 3),
  (5, 4),
  (5, 5),
  (5, 6),
  (5, 7),
  (5, 8),
  (5, 9),
  (5, 10),
  (6, 2),
  (6, 3),
  (6, 5),
  (6, 7),
  (7, 0),
  (7, 1),
  (7, 2),
  (7, 3),
  (7, 4),
  (7, 5),
  (7, 6),
  (7, 7),
  (7, 8),
  (7, 9),
  (7, 10),
  (8, 2),
  (8, 3),
  (8, 5),
  (8, 7),
  (9, 2),
  (9, 3),
  (9, 5),
  (9, 7),
  (10, 2),
  (10, 3),
  (10, 5),
  (10, 7)],
 72)

## Exercise2

In [4]:
# Write a function, kg_tolb, that converts a list of weights in kilograms to a list of weights in pounds 
# (there a 1 kg = 2.20462 lbs). Include a doc string and function annotations.

def kg_to_lb(wt:list)->list:
    """Change form kg to lb"""
    return [ kg * 2.20462 for kg in wt] 

kg_to_lb([1,2,5,3])

[2.20462, 4.40924, 11.0231, 6.613859999999999]

In [6]:
#Write a second function, total_lb, that calculates the total weight in pounds of an order, the input arguments
#should be a list of item weights in kilograms and a list of the number of each item ordered.

def total_lb(wt:list,num:list) -> list:
    return [wt*num*2.20462 for wt,num in zip(wt,num)]
total_lb([1,2,5,3],[1,2,2,1])

[2.20462, 8.81848, 22.0462, 6.613859999999999]